.circle-button{
  position: relative;
  width:40vw;
  height:auto;
  padding-top:45%;
  border-radius: 50%;
  background:$white;
  float:left;
  &.occupied{
    background:$red;
  }
  &:last-child{
    float:right;
  }
}
@media(max-width:767px){
  .circle-button{
    position: relative;
    width:50vw;
    height:auto;
    padding-top:55%;
    border-radius: 50%;
    background:$white;
    float:left;
    &.occupied{
      background:$red;
    }
    &:last-child{
      float:right;
    }
  }
}
