.locationSelection-item{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  &.disabled{
    opacity:0.3;
  }
  .locationSelection-input{
    width:90px;
    height:90px;
    border-radius:50%;
    border:2px solid $white;
    margin-right:20px;
    position: relative;
    &.active:after{
      content:"";
      width:80%;
      height:80%;
      background:$red;
      border-radius:50%;
      overflow: hidden;
      position: absolute;
      @include centerPosition;
    }
  }
  .locationSelection-text{
    color:$white;
    font-size:32px;
  }
}

@media(max-width:400px){
  .locationSelection-item{
    .locationSelection-input{
      &.active:after{
      }
    }
    .locationSelection-text{
      font-size:20px;
    }
  }
}
