.selection{
  .selection-header{
    padding:20px 0;
    p{
      color:$white;
      font-size:18px;
    }
  }
  .selection-options{
    margin:20px auto 0;
    .locationSelection-item{
      margin:0 0 40px;
    }
  }
}
